//manrope
@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Bold.eot');
    src:
        url('/fonts/Manrope/Manrope-Bold.woff2') format('woff2'),
        url('/fonts/Manrope/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Semibold.eot');
    src: 
        url('/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
        url('/fonts/Manrope/Manrope-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Regular.eot');
    src:
        url('/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('/fonts/Manrope/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: 
        url('/fonts/Manrope/Manrope-Light.woff2') format('woff2'),
        url('/fonts/Manrope/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: 
        url('/fonts/Manrope/Manrope-Thin.woff2') format('woff2'),
        url('/fonts/Manrope/Manrope-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src:
        url('/fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
        url('/fonts/Manrope/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src:
        url('/fonts/Manrope/Manrope-ExtraBold.woff2') format('woff2'),
        url('/fonts/Manrope/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


//geologica
@font-face {
    font-family: 'Geologica';
    src:
        url('/fonts/Geologica/GeologicaRoman-Thin.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: 
        url('/fonts/Geologica/GeologicaRoman-ExtraLight.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: 
        url('/fonts/Geologica/GeologicaRoman-Light.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src:
        url('/fonts/Geologica/GeologicaRoman-Regular.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: 
        url('/fonts/Geologica/GeologicaRoman-Medium.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src:
        url('/fonts/Geologica/GeologicaRoman-SemiBold.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src:
        url('/fonts/Geologica/GeologicaRoman-Bold.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src:
        url('/fonts/Geologica/GeologicaRoman-ExtraBold.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src:
        url('/fonts/Geologica/GeologicaRoman-Black.woff2') format('woff2'),
        url('/fonts/Geologica/GeologicaRoman-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



