@import 'colors';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

.footer_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
    background: linear-gradient(77deg, rgba(202, 223, 255, 0.20) 0%, rgba(239, 162, 162, 0.20) 46.65%, rgba(234, 251, 134, 0.20) 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), #271B36;
    border-radius: 8px;
}

.footer_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 0 0 50px;
    border-bottom: 1px solid #D7D1DC;
}
.footer_col {
    display: flex;
    width: calc(100% / 4);
}
.footer_col_logo {
    img{
        height: 75px;
    }
}
.footer_col_nav {
}
.footer_nav_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.nav_item {
}
.nav_link {
}
.footer_col_social {
}
.footer_col_title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 25px;
    text-align: left;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 170%;
    color: $purple;
}
.social_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0 0 55px;
}
.social_item {
    width: 50px;
    height: 50px;
    border: 1px solid #DFC0FD;
    border-radius: 4px;
}
.social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.social_ico {
    width: 25px;
}
.footer_button {
}
.button_item {
}
.footer_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 0;

    p{
        color: $purple;
        text-align: center;
        font-family: 'Manrope';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }
}

.footer_copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
    font-family: "Manrope";
    font-size: 14px;
}

.copyright_bottom{
    display: inline-flex;
    text-align: left;
}

.develop_bottom{
    display: inline-flex;
    text-align: right;
}