@import 'colors';

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 15px;
    background: #FFF;
    z-index: 900;
    padding: 20px;
    background: linear-gradient(77deg, rgba(202, 223, 255, 0.20) 0%, rgba(239, 162, 162, 0.20) 46.65%, rgba(234, 251, 134, 0.20) 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), #271B36;
    
}

.header_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.header_side {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    height: 100%;

    &.left {
        gap: 80px;
    }

    &.right {
        justify-content: flex-end;
        gap: 20px;
    }
}

.header_logo {}

.logo {
    width: 295px;
    height: 78px;
}

.header_nav {}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav_item {}

.nav_link {
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: $purple;
    white-space: nowrap;

    &:hover {
        color: #9f51eb;
    }

    &.active {
        color: #9f51eb;
        font-weight: 600;
    }
}

.header_auth {}

.auth_list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.auth_link,
.questionnaire_link {
    display: flex;
    height: 36px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    background: #000;
    cursor: pointer;
    min-width: 100px;

    & .auth_link_item {
        font-family: 'Geologica';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #FFF;
    }
}

.auth_link{
    background: #C0D1FD;
    
    & .auth_link_item {
        color:#000;
    }
    
}

.header_burger {
    display: none;
    align-items: center;
    width: 32px;
    height: 100%;
    cursor: pointer;
    z-index: 20;

    &.active {
        span {
            background-color: transparent;

            &::before {
                transform: rotateZ(45deg) translateY(0);
            }

            &::after {
                transform: rotateZ(-45deg) translateY(0);
            }
        }
    }

    span {
        width: 100%;
        height: 4px;
        background-color: $purple;
        border-radius: 12px;
        display: block;
        transition: background-color 0.5s ease-in-out;

        &::before,
        &::after {
            content: "";
            width: 100%;
            background-color: $purple;
            display: block;
            transition: all 0.5s ease-in-out;
            border-radius: 12px;
            height: 4px;
        }

        &::before {
            transform: translateY(-10px);
        }

        &::after {
            transform: translateY(10px);
            margin-top: -4px;
        }
    }
}

.mobile_nav {
    display: fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    gap: 40px;
    background: #F9F9F9;
    transform: translateY(-200%);
    transition: all 0.7s ease;
    z-index: 999;

    &.active {
        transform: translateY(0);
    }

    .header_button {
        display: flex;
    }

    .nav_list {
        flex-direction: column;
        gap: 28px;
    }

}


.search_header_item {
    position: absolute;
    top: -6%;
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
    z-index: 800;
    background: linear-gradient(257deg, rgba(202, 223, 255, 0.2) 0%, rgba(239, 162, 162, 0.2) 46.64%, rgba(234, 251, 134, 0.2) 99.99%), #FFF;
    box-shadow: 0px 4px 6px 0px rgba(62, 78, 89, 0.04);
    transition: 1s ease-in-out;

    &.active {
        top: 88px;
    }

    @media screen and (max-width: 680px) {
        &.active {
            top: 68px;
            padding: 16px 0;
        }
    }
}

.auth_nav {
    position: absolute;
    top: 35px;
    right: 0;
    display: none;
    width: 180px;
    max-height: 300px;
    padding: 0;
    overflow-y: auto;
    background-color: #F6F2F9;
    border-radius: 6px;
    box-shadow: 0px 6px 20px 0px rgba(133, 151, 166, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 210;

    &.active {
        display: block;
    }

}

.auth_nav_item {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0px 10px 0px 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7EEF3;
    background: #FFF;
    transition: 0.4s ease;
    cursor: pointer;

    &.user {
        width: 100%;
        height: 34px;
        padding: 30px 10px 30px 16px;
        background: linear-gradient(271deg, #F5E9E9 0%, #C5DBFB 100%);
        font-family: "Geologica";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    &:not(.user):hover {
        background: #F6F2F9;
    }

    & form{
        width: 100%;
    }
}

.auth_nav_link {
    color: #271B36;
    font-family: "Manrope";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
